<!-- begin generated content -->
<div class="content-main">
    <div class="container">
        <!-- title -->
        <div class="page-header">
            <h3>What is Neurobranch?</h3>
        </div>
    </div>
    <div id="carousel-showcase" class="carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <a><img src="https://3.bp.blogspot.com/-dgWsGos_50U/UaWs4ae72nI/AAAAAAAAHwU/LFttspaG0jo/s1600/rain+hd+images.jpg"/></a>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="page-header">Neurobranch</h3>
        <p>Neurobranch helps doctors, investigators, patients, and scholars to find the resources and support they need in
            the pursuit of knowledge. Tens of thousands of creative research studies — big and small — come to life with the
            support of the Neurobranch community.</p>
    </div>

    <div id="carousel-showcase" class="carousel content-main" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <a><img src="http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/08/rain_wallpaper_good_background_high_quality.jpg"/></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div>
            <h3 class="page-header">What We're About</h3>
            <p>
                <strong>Neurobranch</strong> is a big idea with a small, ambitious, yet determined team. With a wide
                diversity of talents and
                skills, we hope to bring together the best user experience -- all for both volunteer and investigator
                within the vibrant
                community we strive to achieve.
            </p>
        </div>
    </div>
</div>