<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-lg-12">
                <!-- title -->
                <div class="page-header">
                    <h3>Dashboard</h3>
                </div>
            </div>
        </div>

        <!-- container for holding trial data -->
        <div id="dashboard-content-holder">
            {{#if content}}
                {{{ content }}}
            {{else}}
                <div>No trials have been created yet! Start by creating one <a href="create-trial">here</a>.</div>
            {{/if}}
        </div>
    </div>
</div>