<!-- begin generated content -->
<div class="container">
    <!-- title -->
    <div class="page-header">
        <h3>Our Goal</h3>
    </div>

    <div>
        <p>In the midst of our humble start up origin story, we stumbled upon the realization that the research process
            is in dire need of refinement. The lack of software support in clinical trials leads to massive chunks of
            time wasted and an incredible struggle to find participants for trials.
        </p>
        <p>
            We envision <strong>Neurobranch</strong> as a platform for researchers to digitally conduct their trials and
            a vibrant social hub for volunteers to feel like they really have an integral part of the process. Our dream is to
            create a network of like minded individuals willing to lean on one another and move forward together as a
            scientific and medical community </p>
    </div>

</div>
