<div class="container">
    <!-- title -->
    <div class="page-header text-center">
        <h3>Investigator Log In</h3>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 center-form">
            <div class="account-wall center-form">
                <img class="form-image" src="/img/neurobranch_logo.png"
                     alt="Neurobranch Logo">
                <form class="form-signin" method="post" action="/users/login">
                    <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Log in
                    </button>
                    <label class="pull-left checkbox checkbox-left-align">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    <a href="/users/help" class="pull-right need-help">Need help?</a><span class="clearfix"></span>
                </form>
                <div class="text-center">
                    New to Neurobranch? <a href="/users/signup">Create an account</a>.
                </div>
            </div>
        </div>
    </div>
</div>