
    <div id="carousel-showcase" class="carousel content-main" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <a href="#"><img src="/img/data_visualisation.gif"/></a>
                <div class="carousel-caption">
                    <h3>Neurobranch</h3>
                    <p>Interconnecting patient and investigator</p>
                </div>
            </div>
        </div>
    </div>

    <!-- begin generated content -->
    <div class="container">
        <!-- neurobranch logo -->
        <div>
            <img src="/img/neurobranch_logo.png" class="logo-image" alt="platform logo"/>
        </div>
    </div>




