.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"], input[type="password"], input[type="email"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.account-wall
{
    margin-top: 20px;
    padding: 20px 0 20px 0;
    background-color: #f7f7f7;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 20px;
    font-weight: 400;
    display: block;
}
.form-image
{
    height: 128px;
    margin: 0 auto 20px;
    display: block;

}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.checkbox-left-align {
    margin-left: 18px;
}

.center-text {
    text-align: center;
}

.btn {
    margin-top: 15px;
}

.btn-create-trial {
    margin-top: 30px;
}

.description-box {
    resize: vertical;
    height: 100%;
}

.description-box-fill {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-signin
{
    max-width: inherit;
    padding: 15px;
    margin: 0 auto;
}

.form-create-trial-fields {
    margin-left: 15px;
    margin-right: 15px;
}

.form-create-trial .form-create-trial-heading, .form-create-trial .checkbox
{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.form-create-trial .checkbox
{
    font-weight: normal;
}
.form-create-trial .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-create-trial .form-control:focus
{
    z-index: 2;
}
.form-create-trial input[type="text"], input[type="password"], input[type="email"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-create-trial-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.form-create-trial-margin-section {
    margin-top: 15px;
}